{% extends 'magasin/base.html' %}
{% block title %} Supprimer un Categorie {% endblock %}

{% block content %}
  <div class="container mt-3">
    <h2>Supprimer un Categorie</h2>
    <p>Êtes-vous sûr de vouloir supprimer cette Categorie ?</p>
    <p>{{ categorie.libelle }}</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Supprimer</button>
      <a href="{% url 'ListCategorie' %}" class="btn btn-secondary">Annuler</a>
    </form>
  </div>
{% endblock %}
