{% extends 'magasin/base.html' %}
{% block title %} Modifier Categorie {% endblock %}
{% block content %}
<!-- body -->
<div class="container-fluid mt-3">
    <div class="row-9">
        <div class="col-lg-6 mx-auto">
            <form  method='POST' class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Modifier</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
