{% extends 'magasin/base.html' %}
{% block title %} List de commandes {% endblock %}
{% block content %}
<!-- body -->
<div class="container-fluid mt-3">
    <div class="row-9">
        <div class="col-lg-12">
            {% if user.is_authenticated %}
            <a class="btn btn-danger" href="{% url 'create_commande'%}">Ajout Commande</a>
            {% endif %}
        </div>
        <div id='commandes' class="col-lg-9 mx-auto" style="margin:5px;">
            <div class="row mx-auto">
                {% for commande in commandes %}
                 <div class="card" id={{commande.id}} style="width:350px;border:black solid 1px;margin:5px;">
                  
                            <div class="card-body" >
                              
                        <p class="card-text"><b>Date : {{commande.dateCde}}</b></p>
                        <p class="card-text"><b>Nom du client:</b> {{commande.nom_client}}</p>
                        <p class="card-text"><b>Adresse de livraison:</b> {{commande.adresse_livraison}}</p>                 
                        <p class="card-text">Total Commande : {{commande.totalCde}}</p>
                        {% for produit in commande.produits.all %}
                        <p class="card-text"> Produits : {{produit.libellé}} <br>
                             Prix : {{produit.prix}}</p>
                        {% endfor %}
                        <div style="width: 350px;">
                        <a href="{% url 'detail_commande' commande_id=commande.id %}" class="btn btn-primary">Voir détails</a>
                       
                        <a href="{% url 'edit_commande' commande.id %}" class="btn btn-success">Modifier</a>
                        <a href="{% url 'delete_commande' commande.id %}" class="btn btn-danger" >Supprimer</a>
                      
                    </div>
                </div>
                </div>
       
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
